.home {
  /* flex: 1; */
  /* display: flex; */
}

.homeWidgets {
  /* align-items: stretch; */
  /* display: flex; */
  flex-grow: 1;
  margin: 20px;
}

.containerAdmin {
  display: flex;
  /* margin-top: 10px; */
}
