/* .gazeboList {
  flex: 4;
} */

.containerAdmin {
  display: flex;
  /* margin-top: 10px; */
}

.GazeboStyle {
  flex: 5;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  padding: 20px;
}

.UIGazebo {
  display: flex;
  margin: 20px;
  flex: 5;
}

.judul {
  display: flex;
  margin-top: 30px;
}

.ButtonAG {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: rgb(20, 150, 197);
  color: white;
  cursor: pointer;
  margin-left: 840px;
  margin-bottom: 20px;
}

.list-Gazebo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  /* width: 1000px;
  overflow-y: scroll; */
  /* flex-wrap: wrap-reverse; */
  /* display: grid; */
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.View-AddGazebo {
  /* margin-top: 10; */
  display: flex;
  flex: 3;
}
